APP_NAME=crypto-price-tracker
ENV=dev

POSTGRES_DB=prices
POSTGRES_USER=prices_user
POSTGRES_PASSWORD=prices_pass

DATABASE_URL=postgresql+asyncpg://prices_user:prices_pass@db:5432/prices
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1

TEST_DB_NAME=prices_test
TEST_DATABASE_URL=postgresql+asyncpg://prices_user:prices_pass@db:5432/prices_test
